<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/toolbar.css' />
    <link rel='stylesheet' href='/stylesheets/background.css' />
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header" style="display:flex;text-align:center;">
        <div class="buttonImage">
          <button type="button" class="btn"><a href='https://www.pokemon.com/us/'><img src="https://assets.pokemon.com/assets/cms2/img/misc/gus/buttons/logo-pokemon-79x45.png" /></button></a>
        </div>
        <div class="buttonImage" >
          <button type="button" class="btn"><a href='https://www.pokemoncenter.com'><img src="https://assets.pokemon.com/assets/cms2/img/misc/gus/buttons/logo-pokemoncenter-79x45.png" /></a></button>
        </div>
        <div class="buttonImage" >
          <button type="button" class="btn"><a href='http://www.pokemon.com/us/pokemon-tcg/play-online/'><img src="https://assets.pokemon.com/assets/cms2/img/misc/gus/buttons/logo-tcgo-79x45.png" /></a></button>
        </div>
        <div class="buttonImage" >
          <button type="button" class="btn"><a href='https://3ds.pokemon-gl.com/'><img src="https://assets.pokemon.com/assets/cms2/img/misc/gus/buttons/logo-pgl-79x45.png" /></a></button>
        </div>
        <div class="buttonImage" >
          <button type="button" class="btn"><a href='https://cin.pokemontcg.com/en-us/'><img class="resize-icon" src="https://assets.pokemon.com/assets/cms2/img/misc/gus/promotions/sm04-promo-237x80-en.jpg" /></a></button>
        </div>
        <div class="buttonImage" >
          <button type="button" class="btn"><a href='http://www.pokemon.com/us/app/'><img class="resize-icon" src="https://assets.pokemon.com/assets/cms2/img/misc/gus/promotions/promo-app-gallery-237x80.jpg" /></a></button>
        </div>
        <div class="buttonImage" >
          <button type="button" class="btn"><a href='https://www.pokemon-sunmoon.com/ultra/en-us/'><img class="resize-icon" src="https://assets.pokemon.com/assets/cms2/img/misc/gus/promotions/ultra-sun-moon-237x80-en.jpg" /></a></button>
        </div>
        <div class="buttonImage" >
          <button type="button" class="btn"><a href='http://localhost:3000'><img class="resize-icon" src="https://i.imgur.com/bvWPfwH.png" /></a></button>
        </div>
        <div class="buttonImage" >
          <button type="button" class="btn"><a href='https://joinhorizons.com'><img class="resize-icon" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2229/s300/logo-lg.png" /></a></button>
        </div>
      </div>
    </nav>
    {{{body}}}
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
  </body>
</html>
