<h1>You made it!</h1>
<p>hello {{name.username}}</p><br/>
<button type="button" class="btn btn-info btn-lg" name="button"><a href="/profile">Edit Profile</a></button>
<button type="button" class="btn btn-info btn-lg" name="button"><a href="/newauction">New Auction</a></button>
